.theaders{
  margin: 0px 5px -11px 0px;
}

.centerContainer{
	margin-left: 0px !important;
	margin-top: 0px !important;
	padding-right: 7px !important;
}

.centerContainer table{
	border-top: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
}

.formRow{
	margin: 0px 0px 0px 0px !important;
}

#newUploadModal{
	width: 80% !important;
	height: 80% !important;
}

.headerIcon{
	margin-bottom: 10px !important;
}

.progress{
	margin-bottom: 0px;
	margin-top: 0px;
	margin-left: 10px;
	height: 30px;
}