/*
  Code By Ilyes CH 
    ** Celyes **
    contact : http://fb.com/celyes17
*/
@import url('https://fonts.googleapis.com/css?family=Pacifico');
.input-field label{color:#999;}
.input-field input[type=text]:focus + label,.input-field input[type=password]:focus + label{color:#000;}
.input-field input[type=text]:focus ,.input-field input[type=password]:focus {border-bottom:1px solid #000;box-shadow:0 1px 0 0 #000;}
.input-field input[type=text].valid,.input-field input[type=password].valid{border-bottom:1px solid #2196F3;box-shadow:0 1px 0 0 #2196F3;}
.input-field input[type=text].invalid,.input-field input[type=password].invalid{border-bottom:1px solid #F44336;box-shadow:0 1px 0 0 #F44336;}
.input-field .prefix.active{color:#000;}
/* Input : switch */
.switch{margin-top:7px;}
.switch label .lever{margin:0 7px;}
.switch label input[type="checkbox"]:checked + .lever{background-color:#ADD0EB;}
.switch label input[type="checkbox"]:checked + .lever::after{background-color: #4FB0FD ;}
/*.login-body{background-image:background-size:cover;background-position: center;background-attachment:fixed;}*/
.input-cart{min-height:400px;border-top:3px solid #2196F3;margin-top: 20px;}
.login{margin-top:25px;border-right:1px solid #ddd;}
.policy{visibility: hidden;}
.signupForm{display: none;}
.signup{margin-top:25px;}
.signup-toggle{cursor:pointer;margin-top:140px;}
.login h4, .signup h4{font-weight:200;}
.legal{border-top:1px solid #ddd;}
.email label{margin-left:11px;}
.policy{font-size:13px;}
.main-title{font-family:pacifico;}

/* animation */
* {
  padding: 0;
  margin: 0
}

body {
  background-color: #000000;
}

.crossfade > figure {
  animation: imageAnimation 30s linear infinite 0s;
  backface-visibility: hidden;
  background-size: cover;
  background-position: center center;
  color: transparent;
  height: 100%;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: 0;
  margin-bottom: 0%;
  margin-top: 0%;
  margin-left: 0%;
}

.crossfade > figure:nth-child(1) {
  background-image: url('../img/img9.jpg');
}
.crossfade > figure:nth-child(2) {
  animation-delay: 6s;
  background-image: url('../img/img10.jpg');
}
.crossfade > figure:nth-child(3) {
  animation-delay: 12s;
  background-image: url('../img/img15.jpg');
}
.crossfade > figure:nth-child(4) {
  animation-delay: 18s;
  background-image: url('../img/img13.png');
}
.crossfade > figure:nth-child(5) {
  animation-delay: 24s;
  background-image: url('../img/img10.jpg');
}

@keyframes imageAnimation {
  0% {
    animation-timing-function: ease-in;
    opacity: 0;
  }
  8% {
    animation-timing-function: ease-out;
    opacity: 1;
  }
  17% {
    opacity: 1
  }
  25% {
    opacity: 0
  }
  100% {
    opacity: 0
  }
}